# Configuracion compartida cliente/servidor
SERVER_HOST=127.0.0.1
SERVER_PORT=9999
TRANSPORT_MODE=TLS

# TLS (obligatorio)
TLS_CERT_FILE=config/tls/server.crt
TLS_KEY_FILE=config/tls/server.key
TLS_CA_FILE=config/tls/ca.crt
TLS_SERVER_HOSTNAME=localhost
TLS_MIN_VERSION=1.3
TLS_ECDH_CURVE=prime256v1
TLS_ALLOWED_CIPHERS=TLS_AES_256_GCM_SHA384,TLS_CHACHA20_POLY1305_SHA256,TLS_AES_128_GCM_SHA256

# Capacidad servidor
MAX_CONNECTIONS=300

# Logging
LOG_LEVEL=INFO
