# Configuracion del cliente

# Servidor
SERVER_HOST=127.0.0.1
SERVER_PORT=9999
TRANSPORT_MODE=TLS

# TLS (obligatorio)
TLS_CA_FILE=config/tls/ca.crt
TLS_MIN_VERSION=1.3
TLS_SERVER_HOSTNAME=localhost
TLS_ALLOWED_CIPHERS=TLS_AES_256_GCM_SHA384,TLS_CHACHA20_POLY1305_SHA256,TLS_AES_128_GCM_SHA256

# Logs
LOG_LEVEL=INFO
